/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2019, 11:45:59 PM
    Author     : Nurielmeni
*/

html,
body {
    min-height: 100%;
    height: auto;
    font-family: 'Heebo', sans-serif;
}

.campaign-wrap {
    position: relative;
}

.row.alerts {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 80px;
    font-size: 24px;
}

.campaign-wrap .btn {
    font-size: 20px;
    line-height: 24px;
}

.campaign-wrap .btn a {
    text-decoration: none;
}

.campaign-wrap .btn:hover {
    color: #1366B1;
    opacity: 0.85;
}

#ikea-wrapper {
    min-height: 100vh;
}

.has-error .help-block.help-block-error
{
    color: #ff6d6a !important;
}
div.has-error .form-control {
    border-color: #ff6d6a !important;
}

div.logo {
    padding-top: 30px;
}

div.logo img {
    height: auto;
}

#campaign {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}

.reply-wrapper .actions > div {
    padding: 0;
}

.reply-wrapper a.fb-icon {
    color: #1366b1;
    border-radius: 24px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

label[for="contactform-cvfile"] {
    font-size: 18px;
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer;
}

.form-group.field-contactform-cvfile.has-success label {
    color: #00ff00;
}

.ikea-form .form-group input,
.ikea-form .form-group select,
.ikea-form .form-group .nice-select.form-control {
    height: 40px;
    font-size: 16px;
    line-height: 28px;
}

.ikea-actions .more-jobs:before {
    content: " ";
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ffffff;     
}

.ikea-actions .more-jobs .btn.btn-default {
    width: 192px;
}

.ikea-form > div.fields {
    max-width: 478px;
    margin: 0 auto;
    width: 100%;
}

/***********  RESPONSIVE *************/
@media(max-width:576px) {
    #ikea-wrapper .ikea-form.col-md-4.col-sm-5.col-xs-12 {
        padding: 0;
    }
}

@media(min-width:768px) {
}   
